@{
    ViewData["Title"] = "Registro";
}
<h1>@ViewData["Title"]</h1>


<div class="center">
  <h1>Empecemos!</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Email</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Password</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>