@{
    ViewData["Title"] = "Editor de Video";
}


<main>
    
        <body>
            <div class="container">
                <div class="col-md-auto">
                    <section>
                       <h1 class="display-4">Bienvenido!</h1>
                       <p>Un mundo de posibilidades con nuestro producto</p>
                
                    </section>
                    </div>
            </div>
                 <section>
                      <a class="nav-link " asp-area="" asp-controller="Tuto" asp-action="TutorialDeUso">
                          <img src="~/captura1.jpg" width="803" height="481" />
                      </a>
                 </section>
                 <section>
            
                   <div class="text-center">
                        <h2>Pero, ¿Quienes somos?</h2>
                        <p>Somos un grupo de programadores listos para la acción, lanzando el primer release de nuestro editor audiovisual</p>
                   </div>
                 </section>

            
        </body>
</main>
    
