@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editor de Video";
}


<main>
    <body>
        <section>
            <h1>Breve tutorial de uso</h1>
        </section>

        <section>
            <div class="box">
                <img src="~/Tuto1a.jpg" width="364" height="550" />
                </div>
            <div class="box">
                <img src="~/Tuto2a.jpg" width="151" height="48" />
                </div>
            <div class="box">
                <img src="~/Tuto3a.jpg" width="682" height="68" />
                </div>
            <div class="box">
                <img src="~/Tuto4a.jpg" width="696" height="241" />
                </div>
            <div class="box">
                <img src="~/Tuto5a.jpg" width="611" height="38" />
                </div>
            <div class="box">
                <img src="~/Tuto6a.jpg" width="171" height="57" />
                </div>
        </section>
    </body>

</main>